<PaperBounce3>

	<!-- I guess the use of cm is arbitrary, and it could be inches or whatever, but you 
	have to be consistent across all these parameters. -->

	<App>
	
<!--	This could use a cleanup since we refactored into two windows	-->
		<AutoFullScreenProjector>	1 </AutoFullScreenProjector>
		<DrawCameraImage>			1 </DrawCameraImage>
		<DrawContours>				0 </DrawContours>
		<DrawContoursFilled>		0 </DrawContoursFilled>
		<DrawMouseDebugInfo>		0 </DrawMouseDebugInfo>
		<DrawContourMousePick>		0 </DrawContourMousePick>
		<DrawPolyBoundingRect>		0 </DrawPolyBoundingRect>
		<DrawContourTree>			0 </DrawContourTree>
		<DrawPipeline>				0 </DrawPipeline>
		
		
		<HasConfigWindow>1</HasConfigWindow>
		<ConfigWindowMainImageMargin> 32 </ConfigWindowMainImageMargin>
		<ConfigWindowPipelineGutter> 8 </ConfigWindowPipelineGutter>
		<ConfigWindowPipelineWidth> 64 </ConfigWindowPipelineWidth>
		<ConfigWindowMainImageDrawBkgndImage>	1 </ConfigWindowMainImageDrawBkgndImage>
		
		<KeyboardStringTimeout>.2</KeyboardStringTimeout>
		
		<DefaultPixelsPerWorldUnit>8</DefaultPixelsPerWorldUnit>
		<DebugFrameSkip>10</DebugFrameSkip>
	</App>

	<RFID>
	<!-- Expects RFID reader to be a USB keyboard that emits digits + a newline char -->
		<tag>
			<id>17317668</id>
			<value>cartridge/BallWorld</value>
		</tag>

		<tag>
			<id>17308708</id>
			<value>cartridge/PongWorld</value>
		</tag>

		<tag>
			<id>17317412</id>
			<value>cartridge/MusicWorld</value>
		</tag>

		<tag>
			<id>17325860</id>
			<value>cartridge/CameraCalibrateWorld</value>
		</tag>
		
		<tag>
			<id>17326116</id>
			<value>cartridge/PinballWorld</value>
		</tag>
		
		<tag>
			<id>17322276</id>
			<value>cartridge/AnimWorld</value>
		</tag>
		
	</RFID>


	<!-- Projector <> Camera <> World mapping
			This just gives initial values for user configuration.
			Configuration you do in app is saved and loaded from ~Documents/PaperES/.
		-->
	
	<!-- Defaults for our YCR-OAK office setup -->
	<LightLink>
		<CaptureProfile>ELP 1280 x 720</CaptureProfile>
		<ProjectorProfile>Default</ProjectorProfile>

		<Capture>
			
			<Profile>
				<Name>ELP 1280 x 720</Name>
				<DeviceName>USB 2.0 Camera</DeviceName>
				<CaptureSize>1280 720</CaptureSize>

				<CaptureCoords>162.757828 63.472496
				1185.81116 103.380928
				1260.2915 670.642029
				100.930344 647.574097
				</CaptureCoords>
				
				<CaptureWorldSpaceCoords>0 0
				126 0
				126 69.5
				0 69.5
				</CaptureWorldSpaceCoords>

				<!-- this calibration is pretty good -->
				<DistCoeffs>[-0.64873862, 0.16279763, 0.020434588, -0.026295083, 0.87134349]</DistCoeffs>
				<CameraMatrix>[1606.7295, 0, 656.4892;
				 0, 1627.5187, 339.53409;
				 0, 0, 1]
				 </CameraMatrix>
			
			</Profile>
			
			<Profile>
				<Name>ELP 640 x 480</Name>
				<DeviceName>USB 2.0 Camera</DeviceName>
				<CaptureSize>640 480</CaptureSize>

				<CaptureCoords>5.06933975 6.20670891
				599.746338 6.75599194
				631.386475 316.545441
				8.39622116 361.42981
				</CaptureCoords>
			
				<CaptureWorldSpaceCoords>0 0
				126 0
				126 69.5
				0 69.5
				</CaptureWorldSpaceCoords>

				<!-- this calibration is OK. I monkeyed with it manually a bit, so it could be better. -->
				<DistCoeffs>[-1.05, -4.1999998, 0.0079270257, -0.0037597809, 30.936378]</DistCoeffs>
				<CameraMatrix>[1072.3177, 0, 314.25284;
				 0, 1062.8184, 234.11261;
				 0, 0, 1]</CameraMatrix>
			 
			</Profile>

			<Profile>
				<Name>FaceTime built in</Name>
				<DeviceName>FaceTime HD Camera (Built-in)</DeviceName>
				<CaptureSize>640 480</CaptureSize>

				<CaptureCoords>0 0
				640 0
				640 480
				0 480
				</CaptureCoords>
			
				<CaptureWorldSpaceCoords>0 0
				126 0
				126 69.5
				0 69.5
				</CaptureWorldSpaceCoords>
			 
			</Profile>
			
		</Capture>


		<Projector>
			<Profile>
				<Name>Default</Name>
				<ProjectorSize>1280 800</ProjectorSize>

				<ProjectorCoords>182.892456 210.350327
				1045.86682 250.694092
				1108.09595 767.35968
				184.268646 755.159668
				</ProjectorCoords>
				
				<ProjectorWorldSpaceCoords>0 0
				121.463959 -0.303260803
				130.19603 75.1454391
				-0.606506348 73.5489044
				</ProjectorWorldSpaceCoords>
				
			</Profile>
		</Projector>

	</LightLink>

</PaperBounce3>
