.DS_Store
xcode/build/*
PaperBounce3_dependency_info.dat
dgph
PaperBounce3App.o
/xcode/build/Debug/PaperBounce3.app/Contents/MacOS/PaperBounce3
/xcode/build/*
b2GearJoint.dia
/xcode/build/PaperBounce3.build/Debug/PaperBounce3.build/Objects-normal/x86_64/PaperBounce3App.d
build/