<PaperBounce3>

	<!-- I guess the use of cm is arbitrary, and it could be inches or whatever, but you 
	have to be consistent across all these parameters. -->

	<App>
	
		<CameraIndex>0</CameraIndex>
		<!-- Which camera to use? 0 indexed. -1 means last. -->

<!--	This could use a cleanup since we refactored into two windows	-->
		<AutoFullScreenProjector>	1 </AutoFullScreenProjector>
		<DrawCameraImage>			1 </DrawCameraImage>
		<DrawContours>				0 </DrawContours>
		<DrawContoursFilled>		0 </DrawContoursFilled>
		<DrawMouseDebugInfo>		1 </DrawMouseDebugInfo>
		<DrawContourMousePick>		1 </DrawContourMousePick>
		<DrawPolyBoundingRect>		0 </DrawPolyBoundingRect>
		<DrawContourTree>			0 </DrawContourTree>
		<DrawPipeline>				1 </DrawPipeline>
		
		<ConfigWindowMainImageMargin> 32 </ConfigWindowMainImageMargin>
		<ConfigWindowPipelineGutter> 8 </ConfigWindowPipelineGutter>
		<ConfigWindowPipelineWidth> 64 </ConfigWindowPipelineWidth>
	</App>


	<!-- Projector <> Camera <> World mapping
			This just gives initial values for user configuration.
			Configuration you do in app is saved and loaded from ~Documents/PaperES/.
	-->
	<LightLink>

		<!-- px -->
		<CaptureSize> 640 480 </CaptureSize>

		<CaptureCoords>
			136 78
			459 71
			468 403
			125 397
		</CaptureCoords>
		
		
		<!-- cm (i measured my table) -->
		<CaptureWorldSpaceCoords>
			0 0
			69 0
			69 69
			0 69
		</CaptureWorldSpaceCoords>

		<ProjectorWorldSpaceCoords>
			0 0
			69 0
			69 69
			0 69
		</ProjectorWorldSpaceCoords>


		<!-- px -->
		<ProjectorCoords>
			60 20
			1170 20
			1170 1130
			60 1130
		</ProjectorCoords>

		<ProjectorSize>
			1280 800
		</ProjectorSize>
		
	</LightLink>
	

	<Games>
	
		<BallWorld>
			<!-- cm -->
			<DefaultNumBalls>			40 </DefaultNumBalls>
			<BallDefaultRadius>			.5 </BallDefaultRadius>
			<BallDefaultMaxRadius>		2 </BallDefaultMaxRadius>
			<BallMaxVel>				.2 </BallMaxVel>
			<BallDefaultColor>			C62D41 </BallDefaultColor>

			<!-- cm -->
			<Vision>
				<ContourMinRadius>			1	</ContourMinRadius>
				<ContourMinArea>			1	</ContourMinArea>
				<ContourDPEpsilon>			1	</ContourDPEpsilon>
				<ContourMinWidth>			2	</ContourMinWidth>
			</Vision>

		</BallWorld>

		<PongWorld>
			<!-- cm -->
			<BallDefaultRadius>			2 </BallDefaultRadius>
			<BallDefaultMaxRadius>		2 </BallDefaultMaxRadius>
			<BallMaxVel>				1 </BallMaxVel>
			<BallDefaultColor>			C62D41 </BallDefaultColor>

			<!-- cm -->
			<Vision>
				<ContourMinRadius>			1	</ContourMinRadius>
				<ContourMinArea>			1	</ContourMinArea>
				<ContourDPEpsilon>			1	</ContourDPEpsilon>
				<ContourMinWidth>			2	</ContourMinWidth>
			</Vision>

		</PongWorld>

		<MusicWorld>
		
		
				<!-- Vision -->
				
			<!-- Vision settings -->
			<!-- cm -->
			<Vision>
				<ContourMinRadius>			5	</ContourMinRadius>
				<ContourMinArea>			100	</ContourMinArea>
				<ContourDPEpsilon>			5	</ContourDPEpsilon>
				<ContourMinWidth>			12	</ContourMinWidth>
				<CaptureAllPipelineStages>1</CaptureAllPipelineStages> <!-- So we can extract bitmaps -->
			</Vision>

			<!-- Custom vision settings... Probably shouldn't change unless you know what you are doing!-->
			
			<ScoreNoteVisionThresh>220</ScoreNoteVisionThresh>
			<!-- 0..255, -1 for OTSU (adaptive) -->
			<ScoreVisionTrimFrac>.07</ScoreVisionTrimFrac>
			<!-- When sampling image for each score, what amount to trim the corners (% push towards the center) -->
			<ScoreMaxInteriorAngleDeg>110</ScoreMaxInteriorAngleDeg>

			<!-- Inter-frame score tracking tuning... -->
			<ScoreTrackRejectNumSamples>10</ScoreTrackRejectNumSamples> <!-- How many random samples to try when testing for rejection?-->
			<ScoreTrackRejectSuccessThresh>.2</ScoreTrackRejectSuccessThresh> <!-- What % need to be valid to continue tracking? -->
			<ScoreTrackMaxError>.5</ScoreTrackMaxError> <!-- How much can scores drift between frames to count as the same score? (world space cumulative error (over each corner) -->
			<ScoreTrackTemporalBlendFrac>.01</ScoreTrackTemporalBlendFrac>
				<!-- Only for discrete (MIDI) scores; how much inter-frame temporal blending to do?
					0 for none.
					Numbers in between make sense. :-)
					1 kind of doesn't make sense, since it's 100% old, but might be useful for testing.
				-->
			<ScoreTrackTemporalBlendIfDiffFracLT>.02</ScoreTrackTemporalBlendIfDiffFracLT>
				<!--	Only do temporal blending if frame difference is less than this amount; so fast motion is still fast -->

				<!-- Music -->

			<!--	Tempo	-->
			<Tempos>.5 1 1.5 2 4 6</Tempos>
<!--			<Tempos>.5 1.5 3 6 9 12</Tempos>-->
				<!-- 0 entries means no global tempo, 1 entry means all are fixed.
					 in practice 0 entries--freeform--produces temporally jittery results.-->
			<TempoWorldUnitsPerSecond>5</TempoWorldUnitsPerSecond>
				<!-- how many cm become 1 second? -->

			<TimeVec>0 -1</TimeVec> <!-- Vector in world space time moves along -->
			<NoteCount>13</NoteCount>
			<BeatCount>32</BeatCount>
			<NumOctaves>5</NumOctaves>
			
			<!--	Music Scales	-->
			<!-- Chromatic -->
			<!-- <Scale>0 1 2 3 4 5 6 7 8 9 10 11</Scale>-->
			<!-- Major -->
<!--			<Scale>0 2 4 5 7 9</Scale>-->
			<!-- Pentatonic -->
			<Scale>1 3 6 8 10</Scale>
			<!-- Minor -->
<!--			<Scale>0 2 4 5 7 9</Scale>-->

			<!--	Instruments -->
			<Instruments>

			<Instrument>
				<PlayheadColor>00FF00</PlayheadColor>
				<ScoreColor>332288</ScoreColor>
				<NoteOffColor>FFFF00</NoteOffColor>
				<NoteOnColor>00FF00</NoteOnColor>

				<Name>0Volca FM</Name>
				<SynthType>MIDI</SynthType>

				<Port>2</Port>
				<Channel>0</Channel>
				<MapNotesToChannels>0</MapNotesToChannels>
			</Instrument>


				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>993377</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>
					
					<Name>1Additive</Name>
					<SynthType>Additive</SynthType>
					
					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>

				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>112266</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>

					<Name>2Volca Sample</Name>
					<SynthType>MIDI</SynthType>

					<Port>1</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>10</MapNotesToChannels>
				</Instrument>



				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>993377</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>

					<Name>3Additive</Name>
					<SynthType>Additive</SynthType>

					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>


				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>993377</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>

					<Name>4Additive</Name>
					<SynthType>Additive</SynthType>

					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>


				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>993377</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>

					<Name>5Additive</Name>
					<SynthType>Additive</SynthType>

					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>

				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>443377</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>

					<Name>6Volca Bass</Name>
					<SynthType>MIDI</SynthType>

					<Port>3</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>


				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>993377</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>

					<Name>7Additive</Name>
					<SynthType>Additive</SynthType>

					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>



				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>005566</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>
					
					<Name>8Volca Keys</Name>
					<SynthType>MIDI</SynthType>
					
					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>


			</Instruments>

		</MusicWorld>

	</Games>

</PaperBounce3>
