<PaperBounce3>

	<!-- I guess the use of cm is arbitrary, and it could be inches or whatever, but you 
	have to be consistent across all these parameters. -->

	<App>
	
<!--	This could use a cleanup since we refactored into two windows	-->
		<AutoFullScreenProjector>	1 </AutoFullScreenProjector>
		<DrawCameraImage>			1 </DrawCameraImage>
		<DrawContours>				0 </DrawContours>
		<DrawContoursFilled>		0 </DrawContoursFilled>
		<DrawMouseDebugInfo>		1 </DrawMouseDebugInfo>
		<DrawContourMousePick>		1 </DrawContourMousePick>
		<DrawPolyBoundingRect>		0 </DrawPolyBoundingRect>
		<DrawContourTree>			0 </DrawContourTree>
		<DrawPipeline>				1 </DrawPipeline>
		
		<ConfigWindowMainImageMargin> 32 </ConfigWindowMainImageMargin>
		<ConfigWindowPipelineGutter> 8 </ConfigWindowPipelineGutter>
		<ConfigWindowPipelineWidth> 64 </ConfigWindowPipelineWidth>
	</App>

	<LightLink>

		<!-- px -->
		<CaptureSize> 640 480 </CaptureSize>

		<CaptureCoords>
			136 78
			459 71
			468 403
			125 397
		</CaptureCoords>
		
		
		<!-- cm (i measured my table) -->
		<CaptureWorldSpaceCoords>
			0 0
			69 0
			69 69
			0 69
		</CaptureWorldSpaceCoords>

		<ProjectorWorldSpaceCoords>
			0 0
			69 0
			69 69
			0 69
		</ProjectorWorldSpaceCoords>


		<!-- px -->
		<ProjectorCoords>
			60 20
			1170 20
			1170 1130
			60 1130
		</ProjectorCoords>

		<ProjectorSize>
			1280 800
		</ProjectorSize>
		
	</LightLink>
	

	<Games>
	
		<BallWorld>
			<!-- cm -->
			<DefaultNumBalls>			40 </DefaultNumBalls>
			<BallDefaultRadius>			.5 </BallDefaultRadius>
			<BallDefaultMaxRadius>		2 </BallDefaultMaxRadius>
			<BallMaxVel>				.2 </BallMaxVel>
			<BallDefaultColor>			C62D41 </BallDefaultColor>

			<!-- cm -->
			<Vision>
				<ContourMinRadius>			1	</ContourMinRadius>
				<ContourMinArea>			1	</ContourMinArea>
				<ContourDPEpsilon>			1	</ContourDPEpsilon>
				<ContourMinWidth>			2	</ContourMinWidth>
			</Vision>

		</BallWorld>

		<PongWorld>
			<!-- cm -->
			<BallDefaultRadius>			2 </BallDefaultRadius>
			<BallDefaultMaxRadius>		2 </BallDefaultMaxRadius>
			<BallMaxVel>				1 </BallMaxVel>
			<BallDefaultColor>			C62D41 </BallDefaultColor>

			<!-- cm -->
			<Vision>
				<ContourMinRadius>			1	</ContourMinRadius>
				<ContourMinArea>			1	</ContourMinArea>
				<ContourDPEpsilon>			1	</ContourDPEpsilon>
				<ContourMinWidth>			2	</ContourMinWidth>
			</Vision>

		</PongWorld>

		<MusicWorld>
		
			<!-- cm -->
			<Vision>
				<ContourMinRadius>			5	</ContourMinRadius>
				<ContourMinArea>			100	</ContourMinArea>
				<ContourDPEpsilon>			5	</ContourDPEpsilon>
				<ContourMinWidth>			12	</ContourMinWidth>
				<CaptureAllPipelineStages>1</CaptureAllPipelineStages> <!-- So we can extract bitmaps -->
			</Vision>
			
			<Tempo>3</Tempo>
			<TimeVec>0 -1</TimeVec>
			<NoteCount>13</NoteCount>
			<BeatCount>32</BeatCount>
			
			<ScoreNoteVisionThresh>-1</ScoreNoteVisionThresh>
			<!-- 0..255, -1 for OTSU (adaptive) -->

			<Instruments>

				<Instrument>
					<PlayheadColor>00FFFF</PlayheadColor>
					<ScoreColor>FF00FF</ScoreColor>
					<NoteOffColor>00FF00</NoteOffColor>
					<NoteOnColor>FF0000</NoteOnColor>
					
					<Name>Additive</Name>
					<Scale>0 1 2 3 4 5 6 7 8 9 10 11 12</Scale>
					<SynthType>Additive</SynthType>
					
					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>
				
				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>005566</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>
					
					<Name>Volca Keys</Name>
					<Scale>0 1 2 3 4 5 6 7 8 9 10 11 12</Scale>
					<SynthType>MIDI</SynthType>
					
					<Port>0</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>

				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>112266</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>

					<Name>Volca Sample</Name>
					<Scale>0 1 2 3 4 5 6 7 8 9 10 11 12</Scale>
					<SynthType>MIDI</SynthType>

					<Port>1</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>10</MapNotesToChannels>
				</Instrument>

				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>332288</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>

					<Name>Volca FM</Name>
					<Scale>0 1 2 3 4 5 6 7 8 9 10 11 12</Scale>
					<SynthType>MIDI</SynthType>

					<Port>2</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>

				<Instrument>
					<PlayheadColor>00FF00</PlayheadColor>
					<ScoreColor>443377</ScoreColor>
					<NoteOffColor>FFFF00</NoteOffColor>
					<NoteOnColor>00FF00</NoteOnColor>

					<Name>Volca Bass</Name>
					<Scale>0 1 2 3 4 5 6 7 8 9 10 11 12</Scale>
					<SynthType>MIDI</SynthType>

					<Port>3</Port>
					<Channel>0</Channel>
					<MapNotesToChannels>0</MapNotesToChannels>
				</Instrument>



			</Instruments>

		</MusicWorld>

	</Games>

</PaperBounce3>
